*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
body{
  position: relative;
  width: calc(100%);
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}

/*? Registration Css */
.register-container{
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-form{
  background-color: #fff;
  padding: 30px 20px;
  width: 300px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
p{
  margin-top: 14px;
  margin-bottom: 5px;
}
 input{
  width: 100%;
  height: 36px;
  padding: 2px 13px;
  font-size: 17px;
}
 button{
  height: 36px;
  width: 100%;
  margin-top: 12px;
  background-color: rgb(7, 45, 7);
  color: #fff;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 12px;
}
.error{
  color: red;
}
.account{
  display: block;
  text-align: center;
}

/*? Sidebar Css  */
.sidebar{
  height: 100vh;
  width: 250px;
  background-color: rgb(37, 32, 31);
  position: fixed;
  top: 0;
  left: 0;
  transition: .7s;
}
.menu-icon{
  position: fixed;
  top: 13px;
  right: 30px;
}
.menu-icon img{
  width: 35px;
  cursor: pointer; 
}
.isfalse{
  left: -253px;
}
.istrue{
  left: 0;
}

.sidebar div{
  text-align: center;
}

.sidebar button{
  display: block;
  text-align: center;
  width: 80%;
  margin: 13px auto;
  height: 35px;
  background-color: rgb(81, 78, 78);
  border: none;
  color: #fff;

}
.name{
  color: #0bf69c;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.with{
  color: rgb(21, 215, 241);
}
.me{
  color: #ffdd03;
}
.btn-icons{
  font-size: 20px;
  margin-right: 6px;
}
.one{
  display: flex !important;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  height: 50px !important;
  font-size: 18px;
}
.one:hover{
  background-color: rgb(109, 115, 115);
}
.sidebar-icons{
  width: 30px;
  margin-right: 10px;
  margin-top: 3px;
}

/*? Add Employee  */
.add-employee-container{
  width: 100%;
}
.title{
  text-align: center;
  height: 60px;
  position: sticky;
  top: 0;
  background-color: #fff;
  line-height: 60px;
  box-shadow: rgba(149, 157, 165, .5) 0px 8px 24px;
}
.sub-title{
  text-align: center;
  margin-top: 30px;
}
.add-emp{
  margin: 10px auto;
  width: 90%;
}
.add-emp .add-emp-link{
  background-color: rgb(11, 54, 11);
  color: #fff;
  cursor: pointer;
  border: none;
  height: 37px;
  padding: 0px 16px ;
  width: max-content;
}
.table-container{
  width: 90%;
  margin: 20px auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
tr{
  border-bottom: 1px solid rgb(174, 166, 166);
}
th{
  padding: 16px 0;
}
.table th, .table td {
  text-align: left;
  padding-left: 10px;

}
.table th {
  background-color: #f2f2f2;
  overflow: none;
}
.table button{
  width: 60px;
  border: none;
  height: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
.edit{
  background-color: rgb(13, 223, 69);
  margin-right: 3px;
}
.delete{
  background-color: red;
  margin-left: 3px;
}

/*? Create Employee  */
.create-employee{
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-form{
   width: 400px;
   margin: 20px auto;
   padding: 10px 20px;
   background-color: #fff;
   box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
   margin-bottom: 0;
}
.btn{
  margin-top: 20px;
}

.edit-btn{
  color: #fff;
}

/*? Responsive css is here  */
@media(max-width:400px){
  body{
    width: 100%;
  }
  .menu-icon{
    right: 12px;
    z-index: 11;
  }
  .sidebar{
    margin-top: 60px;
    height: calc(100vh - 60px);
    z-index: 22;
  }
  .create-employee{
    width: 100%;
  }
  .add-form{
    width: 340px;
  }
  .title{
    font-size: 13px;  
    padding-left: 14px;
    text-align: left;
    z-index: 10;
  }
  .add-employee-container{
    width: 100%;
  }
  .add-emp{
    margin: 10px auto;
    width: 95%;
  }
  .table-container{
    width: 95%;
  }
  th{
    display: none;
  }
   .table td {
    text-align: left;
    padding-left: 00px;
    font-size: 20px;
    margin-left: 110px;
  }
  td{
    display: block;
    margin: 20px  auto;
  }

  td::before{
    position: absolute;
    left: 10px;
    font-weight: 700;
  }

  td:nth-child(1)::before{
    content: "Name";
  }
  td:nth-child(2)::before{
    content: "Email";
  }
  td:nth-child(3)::before{
    content: "Address";
  }
  td:nth-child(4)::before{
    content: "Job";   
  }
  td:nth-child(5)::before{
    content: "Sallary";
  }
  td:nth-child(6)::before{
    content: "Action";
  }
  .table button{
    margin-top: -4px;
  }

}